{% extends 'shared/layout.html' %}
{% load staticfiles %}

{% block conteudo %}
    <header>
        <div class="div-textos">
            <h1>Notify<span>.</span></h1>
            <p>A great new free psd theme to showcase</p>
            <p>your new application.</p>
            <section>
                <a href="https://google.com">
                    <img src="img/icone-android.png" alt="android">
                </a href="">
                <a href="">
                    <img src="img/icone-ios.png" alt="ios">
                </a href="">
                <a href="">
                    <img src="img/icone-windows.png" alt="windows phone">
                </a href="">
            </section>
        </div>

        <div class="div-mao">
            <img src="img/hand.png" alt="mão segurando celular">
        </div>
    </header>
{% endblock %}
